<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Our Products</h2>
                    <p>Browse our wide range of products well-designed and uniquely handcrafted.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/product-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <a class="btn btn-dark" href="/product1">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/product-2.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <a class="btn btn-dark" href="/product2">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/product-3.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <a class="btn btn-dark" href="/product3">View Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/product-4.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <a class="btn btn-dark" href="/product4">View Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>