<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Our Products</h2>
                    <p>Browse our wide range of products well-designed and uniquely handcrafted.</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/products-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <button type="button" class="btn btn-dark" (click)="getProduct(1)" data-toggle="modal" data-target="#detail-prod">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/products-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <button type="button" class="btn btn-dark" (click)="getProduct(2)" data-toggle="modal" data-target="#detail-prod">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/products-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <button type="button" class="btn btn-dark" (click)="getProduct(2)">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/products-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <button type="button" class="btn btn-dark">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/products-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <button type="button" class="btn btn-dark">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/products-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <button type="button" class="btn btn-dark">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/products-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <button type="button" class="btn btn-dark">View Details</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-0 col-md-5 offset-md-1 col-sm-6 col-6">
                        <div class="product-block">
                            <div class="thumb-content">
                                <a href="">
                                    <img class="card-img-top img-fluid" src="../assets/images/products/products-1.jpg" alt="image">
                                </a>
                            </div>
                            <div class="detail">
                                <button type="button" class="btn btn-dark">View Details</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div id="detail-prod" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="productGrid" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Product Name</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <img src="http://placehold.it/350x350" width="100px" height="100px" class="img-responsive" alt="a">
                        </div>
                        <div class="col-md-10">
                            <div>
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#tab1" data-toggle="tab">Overview</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#tab2" data-toggle="tab">Specifications</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab1">
                                        <table class="table table-bordered">
                                            <tbody>
                                                <tr *ngFor="let product of products[0] | keys">
                                                    <td> {{product.key | uppercase}}</td>
                                                    <td> {{product.value | uppercase }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <p>Data 2.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div> -->
</section>