<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>About Us</h2>
                </div>
                <div class="section-title">
                    <p>Established in 2018 by Sanjay Suthar, we,
                        <b>Aarashna Manufacturers</b> are widely acclaimed as a leading manufacturer, wholesaler, trader and
                        service provider of Eco-friendly products. We specialize in Electrical vehicles with wide range of
                        state of art and uniquely handcrafted eco-friendly commuting solutions.
                    </p>
                </div>
                <div class="section-title">
                    <h2>Wide Range of Services</h2>
                </div>
                <div class="section-title">
                    <p>Our all products comes with customization as per customer's requirement. We are expert in well designing
                        our products. We are producer of eco-friendly
                        <b>E-Camel Cart, E-Ship, E-Bullock Cart, E-Horse Cart</b> at a larger scale enriched with indigenous
                        technology.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>