<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    <h2>Contact Us</h2>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <iframe width="100%" height="300px" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7224.982028725481!2d73.0761913!3d25.1190854!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3942eb3724e18051%3A0x81ee442da10a5e80!2sAarashna+Manufacturers!5e0!3m2!1sen!2sin!4v1518947974658
      &zoom=13
      &attribution_source=Google+Maps+Embed+API
      &attribution_web_url=https://developers.google.com/maps/documentation/embed/
      &key=AIzaSyBaU95B0WOjUb6JWix9vd4hcmOyW05brjk" allowfullscreen>
                        </iframe>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 contact-details">
                        <div>
                            <h2>Contact Details:</h2>
                            <h4>Aarashna Manufacturers : Manufacturing/Head office</h4>
                            <b>Sanjay Suthar (Director)</b>
                            <br>
                            <br>
                            <b>Phone : </b>9785627477
                            <br>
                            <b>Email :</b>
                            <a href="mailto:sanjay19suthar88@gmail.com">sanjay19suthar88@gmail.com</a>
                            <br>
                            <b>Address : </b>Adarsh gali, VPO-Badgaon, Sheoganj - 307027, Sirohi(Raj), India.
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form id="contact" action="" method="post">
                            <h2>Quick Contact</h2>
                            <h4>Contact us today, and get reply with in 24 hours!</h4>
                            <fieldset>
                                <input placeholder="Your name" type="text" tabindex="1" required autofocus>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Your Email Address" type="email" tabindex="2" required>
                            </fieldset>
                            <fieldset>
                                <input placeholder="Your Phone Number" type="tel" tabindex="3" required>
                            </fieldset>
                            <fieldset>
                                <select tabindex="4">
                                    <option value="">Your preference ...</option>
                                    <option value="volvo">Product</option>
                                    <option value="saab">Service</option>
                                    <option value="mercedes">Enquiry</option>
                                </select>
                            </fieldset>
                            <fieldset>
                                <textarea placeholder="Type your Message Here...." tabindex="5" required></textarea>
                            </fieldset>
                            <fieldset>
                                <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>